*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body
{
	color: #333;
	font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
}

header
{
	background-color: white;
	margin: 0 auto;
}

figure.logo
{
	margin: 0 auto;
	width: 60%;
	display: inline-block;
	text-align: center;
}

figure.redes
{
	width: 30%;
	display: inline-block;
	text-align: center;
}

figure.img-cont
{
	display: inline-block;
	vertical-align: top;
}

columnas
{

}

img.logo
{
	margin: 0 auto;
}

nav
{
	text-align: center;
	margin:0 auto;
}

ul
{
	background-color: #888;
}

li
{
	background-color: #888;
	color: white;
	display: inline-block;
	margin-right: 15px;
	padding: 13px;
	font-size: 1.1em;
}

iframe
{
	margin: 0 auto;
}

h1
{
	color: #BE1E2D;
}

span.actual-page
{
}

figure.img-txt
{
	display: inline-block;
	background-color: red;
	margin-left: 0px;
}

nav{
	background-color: #999;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/*
nav
{
	background-color: #6D6E71;
	text-align: center;
	font-size: .9em;
	margin-bottom: 2em;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
}
*/

/**************** MENU ****************/
/**************************************/
/*
#cssmenu > ul {
  background: #888;
  padding-bottom: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  width: auto;
  zoom: 1;
  margin-bottom: 30px;
}
#cssmenu > ul {
  background: #888;
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu > ul > li {
  float: left;
  position: relative;
}
#cssmenu > ul > li > a {
  padding: 10px 10px;
  display: block;
  color: white;
  font-size: 13px;
  text-align: ;
  text-decoration: none;
  text-shadow: 0 -1px 0 #0d0d0d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  line-height: 18px;
}
#cssmenu > ul > li:hover > a {
  background: #BE1E2D;
  text-shadow: 0 -1px 0 #97321f;
  text-shadow: 0 -1px 0 rgba(122, 42, 26, 0.64);
}
#cssmenu > ul > li > a > span {
  line-height: 18px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li > a:active {
  background: #BE1E2D;
}
/* Childs */

/*
#cssmenu > ul ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 120px;
  background: #666;
  margin: 0;
  padding: 0;
  z-index: -1;
}
#cssmenu > ul li:hover ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  color: #000;
  z-index: 2;
  top: 64px;
  left: 0;
}
#cssmenu > ul ul:before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: transparent;
}
#cssmenu > ul ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#cssmenu > ul ul li a {
  padding: 18px 26px;
  display: block;
  color: white;
  font-size: 13px;
  text-decoration: none;
  width: 150px;
  border-left: 4px solid transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#cssmenu > ul ul li a:hover {
  border-left: 4px solid #d64e34;
  background: url(../images/hover.png) repeat;
}
#cssmenu > ul ul li a:active {
  background: #BE1E2D;
}




*/
/*********** MENU --- fin *************/
/**************************************/

img.redes
{
	width: 10%;
}

a:visited
{
	text-decoration: none;
	color:white;
}

a:link
{
	text-decoration: none;
	color: white;
}

footer
{
	background-color: #444;
	display: block;
	padding: 20px;
	color: #ccc;
	font-size: 400;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: .8em;
	bottom: 0;
}

strong
{
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	color: #BE1E2D;
	padding: .3em;
}

article
{
	padding: 40px 10px 40px 10px;
	margin: 0 auto;
	text-align: justify;
	width: 700px;
}

p.contenido
{
	font-family: 'Ubuntu', sans-serif;
	color: #666;
	font-weight: 300;
	width: 78%;
	display: inline-block;
}

p.foot
{
	width: 100%;
	margin-bottom: 0px;s
}

section.content-01
{
	background-color: white;
	color: #BE1E2D;
}

section.content-02
{
	background-color: #BE1E2D;
	color: white;
}

section.content-03
{
	background-color: #6D6E70;
	color: white;
}

section.content-04
{
	background-color: #f2f2f2;
	color: #333;
	font-weight: 300;
	width: 100%;
	margin: 0 auto;
}

section.content-05
{
	background-color: #c2c2c2;
	color: #333;
	font-weight: 300;
}

/**** RESPONSIVE ****/

@media screen and (max-width:768px)
{

body
{
}

}

@media screen and (max-width:350px)
{
*
{
	overflow: hidden;
}

nav
{
	font-size: .8em;
	background-color: #C1272D;
	line-height: .4em;
}

body
{
	overflow: hidden;
	width: 350px;
}

h1
{
	font-size: 1.8em;
}

p
{
	padding: 10px;
}

article
{
	width: 350px;
}

figure.logo
{
	width: 100%;
}

img.logo
{
	width: 100%;
}
header
{
}

figure.redes
{
	width: 350px;
	margin-bottom: 20px;
}

figure.img-cont
{
	width: 350px;
	display: block;
}

img.redes
{
	margin-right: 30px;
}

